Pandas provide 3 data structure:1.Series 2.DataFrame 3.Panel

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sss\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.18.5 in c:\users\sss\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\sss\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sss\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sss\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#list

In [3]:
import pandas as pd

In [4]:
x=pd.Series([1,2,3,4])

In [5]:
x

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
x=pd.Series((1,2,3,4))

In [7]:
x

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
x=pd.Series({1,2,3,4})

TypeError: 'set' type is unordered

In [1]:
import numpy as np

In [59]:
y=pd.Series(np.array([1,2,3,4]))

In [60]:
y

0    1
1    2
2    3
3    4
dtype: int32

In [4]:
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d"])

In [5]:
y

a    1
b    2
c    3
d    4
dtype: int32

In [12]:
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c"])

ValueError: Length of values (4) does not match length of index (3)

In [64]:
c=pd.Series(np.array([1,2,3,4]),index=[1,2,3,4])

In [65]:
c

1    1
2    2
3    3
4    4
dtype: int32

In [66]:
c[0]   # if we use int in indexing we cannot access

KeyError: 0

In [14]:
y

a    1
b    2
c    3
d    4
dtype: int32

In [16]:
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d"],dtype=float)

In [17]:
y

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [18]:
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d"],dtype=np.int8)

In [19]:
y

a    1
b    2
c    3
d    4
dtype: int8

In [22]:
z=pd.Series({"a":1,"b":2,"c":3})

In [23]:
z

a    1
b    2
c    3
dtype: int64

In [24]:
z=pd.Series({"a":1,"b":2,"c":3},index=["d","e","f"])

In [25]:
z

d   NaN
e   NaN
f   NaN
dtype: float64

In [26]:
z=pd.Series({"a":1,"b":2,"c":3},index=["b","c"])

In [27]:
z

b    2
c    3
dtype: int64

In [28]:
x

0    1
1    2
2    3
3    4
dtype: int64

In [29]:
x[0]

1

In [30]:
x[-1]

KeyError: -1

In [31]:
y

a    1
b    2
c    3
d    4
dtype: int8

In [32]:
y[0]

1

In [33]:
y[0:2] #ending index not include

a    1
b    2
dtype: int8

In [34]:
y["a":"c"]   # ending also included

a    1
b    2
c    3
dtype: int8

In [35]:
y["b":"d"]

b    2
c    3
d    4
dtype: int8

In [36]:
y["d":"b":-1]

d    4
c    3
b    2
dtype: int8

In [38]:
a=pd.Series(np.array([1,2,3,4]),index=["d","b","c","a"])

In [39]:
a

d    1
b    2
c    3
a    4
dtype: int32

In [44]:
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d"])
y

a    1
b    2
c    3
d    4
dtype: int32

In [45]:
y[3:1:-1]

d    4
c    3
dtype: int32

In [46]:
y[3:0:-1]

d    4
c    3
b    2
dtype: int32

In [47]:
y[3: :-1]

d    4
c    3
b    2
a    1
dtype: int32

In [48]:
# access multiple elements

In [49]:
y[["a","c","d"]]

a    1
c    3
d    4
dtype: int32

In [2]:
import numpy as np
import pandas as pd
y=pd.Series(np.array([1,2,3,4,5]),index=["a","b","c","d","a"])

In [3]:
y

a    1
b    2
c    3
d    4
a    5
dtype: int32

In [4]:
y["a"]   # wrong

a    1
a    5
dtype: int32

In [52]:
y["b"]=100

In [53]:
y

a      1
b    100
c      3
d      4
a      5
dtype: int32

In [54]:
y["e"]=0

In [55]:
y

a      1
b    100
c      3
d      4
a      5
e      0
dtype: int64

In [56]:
del y["e"]

In [57]:
y

a      1
b    100
c      3
d      4
a      5
dtype: int64

In [58]:
y["a":"c"]=0,1,2

KeyError: "Cannot get left slice bound for non-unique label: 'a'"

In [59]:
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d"])
y

a    1
b    2
c    3
d    4
dtype: int32

In [60]:
y["a":"c"]=0,1,2

In [61]:
y

a    0
b    1
c    2
d    4
dtype: int32

In [62]:
y[0:3]=0,1,2

In [63]:
y

a    0
b    1
c    2
d    4
dtype: int32

In [64]:
del x["a":"c"]

InvalidIndexError: slice('a', 'c', None)

In [65]:
del y[0:3]

InvalidIndexError: slice(0, 3, None)

In [8]:
import pandas as pd
import numpy as np
y=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d"])
y

a    1
b    2
c    3
d    4
dtype: int32

In [6]:
for b in range(int(input("Enter the elements you want to remove:"))):
    del y[input("type the keys")]

Enter the elements you want to remove:2
type the keysa
type the keysb

In [7]:
y

c    3
d    4
dtype: Int64

In [1]:
import pandas as pd

In [2]:
pd.DataFrame()   # creating empty dataframe

Empty DataFrame
Columns: []
Index: []

In [4]:
pd.DataFrame([1,2,3,4,5])  # if we give 1d it take as single column

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
import numpy as np
pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]))

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),index=["a","b","c"],columns=["A","B","c"])

   A  B  c
a  1  2  3
b  4  5  6
c  7  8  9

In [11]:
pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),index=["a","b","c"],columns=["A","B","c"],dtype="float")

     A    B    c
a  1.0  2.0  3.0
b  4.0  5.0  6.0
c  7.0  8.0  9.0

In [69]:
pd.DataFrame(np.array([["NaN",2,3],["NaN",5,6],["NaN",8,9]]),index=["a","b","c"],columns=["A","B","C"],dtype="float")

    A    B    C
a NaN  2.0  3.0
b NaN  5.0  6.0
c NaN  8.0  9.0

In [18]:
pd.DataFrame(np.array([["p1",1,2,3,4],[0,2,3,4,5],[4,6,7,8,8],[4,5,6,7,8],[5,6,7,8,7],["q","w","e","r","t"],[4,3,4,5,6]]),index=["A","B","C","D","E","F","G"],columns=["Name","Age","Gender","Height","Weight"])

  Name Age Gender Height Weight
A   p1   1      2      3      4
B    0   2      3      4      5
C    4   6      7      8      8
D    4   5      6      7      8
E    5   6      7      8      7
F    q   w      e      r      t
G    4   3      4      5      6

In [19]:
pd.DataFrame({"Name":["p1","p2"],"Age":[27,3]})

  Name  Age
0   p1   27
1   p2    3

In [20]:
pd.DataFrame({"Name":["p1","p2"],"Age":[27,3]},columns=["Weight","Age"],dtype="float")

   Weight   Age
0     NaN  27.0
1     NaN   3.0

In [23]:
pd.DataFrame({"Name":["p1","p2"],"Age":[27,3],"Weight":[56.5,45.5]},columns=["Weight","Age"],dtype="int")

C:\Users\SSS\AppData\Local\Temp\ipykernel_6820\2663893925.py:1: FutureWarning: Could not cast to int32, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  pd.DataFrame({"Name":["p1","p2"],"Age":[27,3],"Weight":[56.5,45.5]},columns=["Weight","Age"],dtype="int")

  Weight  Age
0   56.5   27
1   45.5    3

In [32]:
data=pd.DataFrame({"Name":["p1","p2"],"Age":[27,3],"Weight":[56.5,45.5]},columns=["Name","Weight","Age"],dtype="int")

C:\Users\SSS\AppData\Local\Temp\ipykernel_6820\396145545.py:1: FutureWarning: Could not cast to int32, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  data=pd.DataFrame({"Name":["p1","p2"],"Age":[27,3],"Weight":[56.5,45.5]},columns=["Name","Weight","Age"],dtype="int")

In [34]:
data

  Name Weight  Age
0   p1   56.5   27
1   p2   45.5    3

In [35]:
data["Name"]   # how to access column

0    p1
1    p2
Name: Name, dtype: object

In [36]:
data[["Name","Weight"]]

  Name Weight
0   p1   56.5
1   p2   45.5

In [37]:
data

  Name Weight  Age
0   p1   56.5   27
1   p2   45.5    3

In [38]:
data["Gender"]=pd.Series(["f","m"])  # To add new column use Series:becoz it take as 1 column

In [39]:
data

  Name Weight  Age Gender
0   p1   56.5   27      f
1   p2   45.5    3      m

In [40]:
data["ph_no"]=[97,45]

In [41]:
data

  Name Weight  Age Gender  ph_no
0   p1   56.5   27      f     97
1   p2   45.5    3      m     45

In [46]:
data["ph_no1"]=pd.Series([9895999650,7859585864])

In [47]:
data

  Name Weight  Age Gender  ph_no      ph_no1
0   p1   56.5   27      f     97  9895999650
1   p2   45.5    3      m     45  7859585864

In [50]:
data["ph_no1"]=pd.Series([9895999650])

In [51]:
data

  Name Weight  Age Gender  ph_no        ph_no1
0   p1   56.5   27      f     97  9.896000e+09
1   p2   45.5    3      m     45           NaN

In [52]:
data["Sum of w&a"]=data["Weight"]+data["Age"]

In [53]:
data

  Name Weight  Age Gender  ph_no        ph_no1 Sum of w&a
0   p1   56.5   27      f     97  9.896000e+09       83.5
1   p2   45.5    3      m     45           NaN       48.5

In [54]:
del data["Sum of w&a"]

In [55]:
data

  Name Weight  Age Gender  ph_no        ph_no1
0   p1   56.5   27      f     97  9.896000e+09
1   p2   45.5    3      m     45           NaN

In [56]:
data.pop("ph_no1")

0    9.896000e+09
1             NaN
Name: ph_no1, dtype: float64

In [57]:
data

  Name Weight  Age Gender  ph_no
0   p1   56.5   27      f     97
1   p2   45.5    3      m     45